@use 'sass:color';
@use 'variables' as v;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button-style {
  background-color: v.$primary-color;
  color: white;
  border: none;
  padding: v.$spacing-small v.$spacing-medium;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: color.adjust(v.$primary-color, $lightness: -10%);
  }
}

@mixin card-style {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: v.$spacing-medium;
  margin-bottom: v.$spacing-medium;
}

@mixin responsive {
  @media (max-width: v.$breakpoint-mobile) {
    @content;
  }

  @media (min-width: v.$breakpoint-mobile + 1) and (max-width: v.$breakpoint-tablet) {
    @content;
  }

  @media (min-width: v.$breakpoint-tablet + 1) and (max-width: v.$breakpoint-desktop) {
    @content;
  }

  @media (min-width: v.$breakpoint-desktop + 1) {
    @content;
  }
}
